@import "./normalize";
@import "./variables";

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $gallery-gap;
  box-sizing: border-box;

  .title {
    text-align: center;
  }

  .input {
    width: calc(100% - 32px);
    border: 1px solid #eee;
    border-radius: 16px;
    padding: $gallery-gap;
  }
}
